.navLink {
  font-weight: 400;
  font-size: 14px;
  color: #8a8a8a;
  padding-block: 8px;
  padding-inline: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  gap: 12px;
  border-radius: 8px;
}

.navLink:hover {
  background-color: #23343b10;
}

.activeNavLink {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  padding-block: 8px;
  padding-inline: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #23343b;
  gap: 12px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.activeNavLink .navIcon path {
  transition: stroke 0.3s;
  fill: #ffffff !important;
}
.activeNavLink .altNavIcon path {
  transition: stroke 0.3s;
  stroke: #ffffff !important;
}
