:root {
  --primary: #1D2B31;
  --secondary: #F5A623;
  --success: #218838;
  --error: #FF4040;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #242424;
}

/* Input styles */
.inputContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
}

.inputContainer > label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #344054;
  gap: 2px;
  display: flex;
}

.inputContainer > * input,
textarea {
  padding-block: 14px;
  padding-inline: 17px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  width: 100%;
  color: #344054;
}

.inputContainer > * input::placeholder,
textarea::placeholder {
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}

.inputError {
  border: 1px solid #FF4040 !important;
}

.error {
  color: #FF4040;
  font-size: 0.75rem;
}

.errorText {
  color: #FF4040 !important;
}
