:root {
  --primary: #1d2b31;
  --secondary: #f5a623;
  --success: #218838;
  --error: #ff4040;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #242424;
}

/* Input styles */
.inputContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}

.inputContainer > label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #344054;
  gap: 2px;
  display: flex;
}

.inputContainer > * input,
textarea {
  padding-block: 10px;
  padding-inline: 14px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 100%;
  color: #1d2b31;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.inputContainer > * input::placeholder,
textarea::placeholder {
  color: #667085;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.inputError {
  border: 1px solid var(--error) !important;
}

.error {
  color: var(--error);
  font-size: 0.75rem;
}

.errorText {
  color: var(--error) !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll-bar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}