.modalTitleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 38px;
	padding-bottom: 10px;
	border-bottom: 2px solid #F3F6FA;
}

.modalTitleContainer>h1 {
	margin: 0;
	font-size: 1.3rem;
	font-weight: 600;
}

.modalTitleContainer>button {
	font-size: 20px;
	border: none;
	transition: color 0.5s;
}

.modalTitleContainer>button:hover {
	cursor: pointer;
	color: var(--error);
}

@media (max-width: 800px) {
	.modalTitleContainer>h1 {
		font-size: 1.3rem;
	}
}